# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Misc
*.tmp
*.temp
*.LOCAL

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
data/

# Virtual environments (Highly recommended to ignore)
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables and secrets
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# Inline secrets
secrets.json
config.ini

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebooks
.ipynb_checkpoints

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*~

# Operating System Files
.DS_Store
Thumbs.db
